@model Portal.CMS.Web.Areas.ThemeEditor.ViewModels.AppDrawer.AppDrawerViewModel
@{
    Layout = "";
}

<style>
    @foreach(var font in Model.Fonts)
    {
        <text>@@font-face { font-family: '@font.FontName'; src: url('@font.FontPath') format('@font.FontType'); }</text>
        <text>div.font-@font.FontName { font-family: '@font.FontName'; }</text>
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="confirmation"]').confirmation({
            href: function (elem) {
                return $(elem).attr('href');
            }
        });
    });
</script>

<div id="theme-manager-panel" class="panel-overlay animated fadeInRight">
    <div class="panel-title">
        <h4>Theme Editor</h4>
        <div class="panel-action right" onclick="QuickAccess.ClosePanels();"><span class="fa fa-remove"></span></div>
        <a href="@Url.Action("Create", "Manage", new { area = "ThemeEditor" })" data-title="New Theme" class="panel-action right launch-modal"><span class="fa fa-plus"></span></a>
    </div>

    <div class="panel-inner">
        <div class="tab-content" style="padding-top: 10px; padding-right: 10px; padding-left: 2px; border: 0; max-height: 74vh;">
            @foreach (var theme in Model.Themes)
            {
                <div class="box float-container" style="height: auto; min-height: initial; padding-bottom: 75px;">
                    @if (theme.IsDefault)
                    {
                        <div class="category-item">Active</div>
                    }

                    <div>
                        <div class="blocks">
                            <div class="primary">
                            </div>
                            <div class="secondary">
                            </div>
                            <div class="tertiary">
                            </div>
                        </div>
                        <div class="theme-preview">
                            <h1 style="font-family: '@theme.TitleFont.FontName'; font-size: @(theme.TitleLargeFontSize)px;">@theme.ThemeName</h1>
                            <p style="word-wrap: break-word; font-family: '@theme.TextFont.FontName'; font-size: @(theme.TextStandardFontSize)px;">abcdefg ABCDEFG</p>
                        </div>
                    </div>
                    @if (!theme.IsDefault)
                    {
                        <div class="admin-container x3">
                            <a href="@Url.Action("Default", "Manage", new { area = "ThemeEditor", themeId = @theme.ThemeId })" class="admin-item launch-modal" data-title="Set Default Theme: @theme.ThemeName"><span class="fa fa-check"></span>Set</a>
                            <a href="@Url.Action("Edit", "Manage", new { area = "ThemeEditor", themeId = @theme.ThemeId})" class="admin-item launch-modal" data-title="Edit Theme: @theme.ThemeName" data-container="body" data-placement="top"><span class="fa fa-pencil"></span>Edit</a>
                            <a href="@Url.Action("Delete", "Manage", new { area = "ThemeEditor", themeId = @theme.ThemeId})" class="admin-item" data-toggle="confirmation" data-placement="top" data-container="body"><span class="fa fa-trash"></span>Delete</a>
                        </div>
                    }
                    else
                    {
                        <div class="admin-container x1">
                            <a href="@Url.Action("Edit", "Manage", new { area = "ThemeEditor", themeId = @theme.ThemeId})" class="admin-item launch-modal" data-title="Edit Theme: @theme.ThemeName" data-container="body" data-placement="top"><span class="fa fa-pencil"></span>Edit</a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>